<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>marionette</title>

    <!-- Bootstrap -->
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">

</head>
<body>

<div class="nav-bar nav-bar-inverse nav-bar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <span class="brand">Contact manage</span>
        </div>
    </div>
</div>

<!--<div class="container" id="main-region">-->
<!--<p>Here is static content in the web page</p>-->
<!--</div>-->


<div id="app-container">

    <div id="sec-region" class="container">
        <p>Here is static content in the we</p>
    </div>

    <div id="main-region" class="container">
        <p>Here is static content in the we</p>
    </div>
</div>

<!--TEMPLATES START -->

<script type="text/template" id="contact-list-item">
    <%- firstName %> - <%- lastName %>
</script>
<!--TEMPLATES END -->


<script src="./assets/js/.vendor/jquery-2.2.1.min.js"></script>
<script src="./assets/js/.vendor/json2.js"></script>
<script src="./assets/js/.vendor/underscore.js"></script>
<script src="./assets/js/.vendor/backbone-min.js"></script>
<script src="./assets/bower_components/backbone.babysitter/lib/backbone.babysitter.min.js"></script>
<script src="./assets/js/.vendor/backbone.marionette.min.js"></script>
<script src="./assets/bower_components/backbone.wreqr/lib/backbone.wreqr.js"></script>

<script src="assets/js/app.js"></script>

<script>


</script>

</body>
</html>

















